extends layout

block content
  div.container
    div.card
      div.card-header
        div.backdrop
        div.card-title Pizza Hut
        img.card-header-image(src='https://www.qsrmagazine.com/sites/default/files/styles/story_page/public/phut_0.jpg?itok=OCAs2j5O')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.category Italian
          div.rating
            span &#X2b50
            span &#X2b50
        div.description
          //a single pipe | allows you to type free floating text*/
          | asadsadsdaddsadads
          | asdsadasdasdasds
          | sadddddadsasfsafasfa
          | fsfasfasfafs